@using ChessTourManager.DataAccess.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ChessTourManager.DataAccess.Entities.Group>

@{
    ViewData["Title"] = "Groups";
    Tournament tournament = ViewBag.Tournament;
}

<partial name="_TournamentPartial" model="tournament"/>
<h3>Groups</h3>
<hr/>
<p style="display: inline-block; margin-right: 1em;">
    <a asp-action="Create" class="btn btn-primary">Add New</a>
</p>
@if (Model.Count() != 0)
{
    <partial name="_ExportPartial"/>
    <table id="table" class="table table-hover">
        <thead>
        <tr>
            <th/>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Players.First().PlayerLastName)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Players.First().PlayerFirstName)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Players.First().Gender)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Players.First().PlayerAttribute)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Players.First().PlayerBirthYear)
            </th>
            @if (tournament.KindId != 1)
            {
                <th class="align-middle">
                    @Html.DisplayNameFor(model => model.Players.First().Team)
                </th>
            }
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.Players.First().IsActive)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (Group group in Model)
        {
            <tr>
                <td class="align-middle" style="font-weight: bold;">
                    @Html.DisplayFor(modelItem => group.GroupName)
                </td>
                <td/>
                <td/>
                <td/>
                <td/>
                <td/>
                <td/>
                <td class="align-middle">
                    <a asp-action="Edit" asp-route-id="@group.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@group.Id" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@group.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>

            var index = 0;
            @foreach (Player player in group.Players)
            {
                <tr>
                    <td class="align-middle">
                        @(++index)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => player.PlayerLastName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => player.PlayerFirstName)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => player.Gender)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => player.PlayerAttribute)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => player.PlayerBirthYear)
                    </td>
                    @if (tournament.KindId != 1)
                    {
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => player.Team.TeamName)
                        </td>
                    }
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => player.IsActiveLocalized)
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
}
else
{
    <h4>No groups for this tournament</h4>
}


<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
        $('#table').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "order": [],
            // disable sorting for all columns
            "columnDefs": [
                { "orderable": false, "targets": "_all" }
            ],
        });
    } );
</script>
