@using ChessTourManager.DataAccess.Entities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ChessTourManager.DataAccess.Entities.Group>

@{
    ViewData["Title"] = "Index";
    Tournament tournament = ViewBag.Tournament;
}

<partial name="_TournamentPartial" model="tournament"/>
<h3>Groups</h3>
<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identity)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Group item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identity)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>
