@model ChessTourManager.DataAccess.Entities.Tournament
<h1>Tournament: @Model.TournamentName</h1>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border border-1 box-shadow mb-3">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                @if (ViewContext.RouteData.Values["controller"]?.ToString() == "Players")
                {
                    <li class="nav-item">
                        <a class="btn btn-primary text-light" asp-area="" asp-controller="Players" asp-action="Index" asp-route-id="@Model.Id">Players</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Players" asp-action="Index" asp-route-id="@Model.Id">Players</a>
                    </li>
                }
                @if (ViewContext.RouteData.Values["controller"]?.ToString() == "Teams")
                {
                    <li class="nav-item">
                        <a class="btn btn-primary text-light" asp-area="" asp-controller="Teams" asp-action="Index" asp-route-id="@Model.Id">Teams</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Teams" asp-action="Index" asp-route-id="@Model.Id">Teams</a>
                    </li>
                }
                @if (ViewContext.RouteData.Values["controller"]?.ToString() == "Groups")
                {
                    <li class="nav-item">
                        <a class="btn btn-primary text-light" asp-area="" asp-controller="Groups" asp-action="Index" asp-route-id="@Model.Id">Groups</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Groups" asp-action="Index" asp-route-id="@Model.Id">Groups</a>
                    </li>
                }
                @if (ViewContext.RouteData.Values["controller"]?.ToString() == "Games")
                {
                    <li class="nav-item">
                        <a class="btn btn-primary text-light" asp-area="" asp-controller="Games" asp-action="Index" asp-route-id="@Model.Id">Games</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="Index" asp-route-id="@Model.Id">Games</a>
                    </li>
                }
                @if (ViewContext.RouteData.Values["controller"]?.ToString() == "Rating")
                {
                    <li class="nav-item">
                        <a class="btn btn-primary text-light" asp-area="" asp-controller="Rating" asp-action="Index" asp-route-id="@Model.Id">Rating</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Rating" asp-action="Index" asp-route-id="@Model.Id">Rating</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
