@using ChessTourManager.DataAccess.Entities
@model IEnumerable<ChessTourManager.DataAccess.Entities.Player>

@{
    ViewData["Title"] = "Players";
    Tournament tournament = ViewBag.Tournament;
}

<partial name="_TournamentPartial" model="tournament"/>
<h3>Players</h3>
<hr/>
<p>
    <a asp-action="Create" class="btn btn-primary">Add New</a>
</p>
<table class="table table-hover">
    <thead>
    <tr>
        <th/>
        <th class="align-middle">
            @Html.DisplayNameFor(model => model.PlayerLastName)
        </th>
        <th class="align-middle">
            @Html.DisplayNameFor(model => model.PlayerFirstName)
        </th>
        <th class="align-middle">
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th class="align-middle">
            @Html.DisplayNameFor(model => model.PlayerAttribute)
        </th>
        <th class="align-middle">
            @Html.DisplayNameFor(model => model.PlayerBirthYear)
        </th>
        <th class="align-middle">
            @Html.DisplayNameFor(model => model.Team)
        </th>
        <th class="align-middle">
            @Html.DisplayNameFor(model => model.Group)
        </th>
        <th class="align-middle">
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (Player item in Model)
    {
        <tr>
            <td class="align-middle">
                @(Model.ToList().IndexOf(item) + 1)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.PlayerLastName)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.PlayerFirstName)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.PlayerAttribute)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.PlayerBirthYear)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.IsActiveLocalized)
            </td>
            <td class="align-middle">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
