@model ChessTourManager.DataAccess.Entities.Tournament

@{
    ViewData["Title"] = "Tournament Details";
}

<h1>Tournament Details: @Model.TournamentName</h1>
<hr/>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TournamentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TournamentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToursCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToursCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxTeamPlayers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxTeamPlayers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsMixedGroups)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsMixedGroupsLocalized)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeCreate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeCreate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateLastChange)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateLastChange)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeLastChange)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeLastChange)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kind)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kind.KindNameLocalized)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.System)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.System.SystemNameLocalized)
        </dd>
    </dl>
</div>
<hr/>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
